body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font-family: 'Roboto', cursive;
}

.titulo{
    color: white;
    text-align: center;
}

.conteudo {
    padding: 5vh 3em 0;
    display: flex;
    align-items: flex-start;
    gap: 2em;
}

.principal {
    width: 90%;
    padding: 2em 2em 2em;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: #C5965F;
    border-radius: 10px;
    gap: 2em;
}

.mochila{
    background: url(assets/mochila\ desktop.png);
    padding: 4em;
    background-repeat: no-repeat;
    position: relative;
}

.adicionar {
    width: 100%;
}

.adicionar input {
    width: 100%;
    box-sizing: border-box;
    margin: 0.5em 0 1em;
    padding: 1em 0.5em;
    border-radius: 10px;
    border: 2px solid #40112D;
}

.adicionar label {
    display: block;
}

.cadastrar {
    background-color: #40112D;
    color: #FFFFFF;
    cursor: pointer;
}

.lista{
    margin: 0;
    padding: 0;
    width: 100%;
}

.item {
    list-style: none;
    padding: 0.6em 2em;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 0 0 1em;
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    gap: 1em;
    font-size: 20px;
}

.item strong {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    Background: #C5965F;
    font-weight: 400;
}

@media (max-width: 1200px){
    .conteudo{
        flex-direction: column;
        align-items: center;
        padding: 5vh 1em 0;
    }

    .principal{
        width: 100%;
    }

}

@media (max-width: 553px){
    .principal{
        padding: 1em;
    }
}

